.skills__intro-text {
    color: rgb(248, 248, 248);
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
}

.skills__tech-container {
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.skills__tech-title {
    font-weight: bold;
    color: var(--light-grey);
}

.skills__tech-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}