.dev-project__links {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;

}

.dev-project__meta-container {
    padding: 125px 30px 15px;
}

/* Bootstrap .button Class Overide */
.dev-project__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #076492;
    padding: 5px;
    border-radius: 23px;
    color: aliceblue;
    font-weight: 600;
    transition: ease .7s;
}

.dev-project__button:hover {
    color: #076492;
    background-color: aliceblue;
    transition: ease .7s;
}


.dev-project__button h5 {
    margin-top: 7px;
    margin-left: 5px;
}

.dev-project__info {
    max-width: 350px;
}

.dev-project__tech {
    border: 1px solid #2391c8;
    color: #89d8ff;
    border-radius: 30px;
    margin-right: 5px;
    padding: 0 10px;
    display: inline-block;
}

.dev-project__title {
    margin-bottom: 20px;
    font-size: 17px;
}