.dev-project__links {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;

}

.dev-project__meta-container {
    padding: 125px 30px 0;
}

/* Bootstrap .button Class Overide */
.dev-project__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    background-color: #076492;
    padding: 10px;
    border-radius: 23px;
    color: aliceblue;
    font-weight: 600;
    transition: ease .7s;
}

.dev-project__button:hover {
    color: #076492;
    background-color: aliceblue;
    transition: ease .7s;
}

.dev-project__button h5 {
    margin-top: 7px;
    margin-left: 5px;
}



