.techContainer__intro-text {
    color: rgb(248, 248, 248);
    text-align: center;
    max-width: 380px;
    margin: 0 auto;
}

.techContainer__tech-wrapper {
    margin: 1rem auto 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    width: calc(100% - 120px);
}

.techContainer__tech-title {
    font-weight: bold;
    color: var(--light-grey);
}

.techContainer__tech-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 809px) {
    .techContainer__tech-wrapper {
        width: 100%;
    }
}