.design-portfolio__section {
    margin-top: 6rem;
  }


.design-project__container {
    margin-top: -170px;
}

.design-project__meta-container {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.design-project__icon {
    margin-top: 3px;
    font-size: 20px;
    
}

.design-project__text {
    font-size: 20px;
    margin-right: 15px;
}

.design-project__project-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    transition: ease .5s;
    top: 5px;
    z-index: 3000;
  }