.design__contain {
    padding-top: 200px;
    display: flex;
    justify-content: center;
}

.design-projects-container {
    margin-top: -170px;
}

.design__icon {
    margin-top: 3px;
    font-size: 20px;
    
}

.design__text {
    font-size: 20px;
    margin-right: 15px;
}

@media only screen and (max-width: 767px) {
    .designCardSlide {
        top: 104px;
    }

    .design__contain {
        padding-top: 125px;
        height: 170px;
    }

    .design-projects-container {
        margin-top: -90px;
    }

}