.design-portfolio__section {
    margin-top: 6rem;
  }


.design-project__container {
    margin-top: -40px;
}

.design-project__meta-container {
    padding-top: 200px;
    padding-bottom: 20px; 
    display: flex;
    justify-content: center;
    background: var(--primary-blue);
    position: relative;
    top: -126px;
    border-radius: 18px;
    z-index: 1;
    margin-bottom: 1rem;
    color: white;
}

.design-project__icon {
    margin-top: 3px;
    font-size: 20px;
    
}

.design-project__text {
    font-size: 20px;
    margin-right: 15px;
}

.design-project__project-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    transition: ease .5s;
    top: 5px;
    z-index: 3000;
  }