.githubPin {
    color: white;
    top: calc(50%);
    left: 0;
    width: 75px;
    position: fixed;
    text-align: center;
}

.githubPin_link {
    display: block;
    margin-bottom: 20px;
    color: var(--nav-filter-links);
    transition: ease .5s;
    font-size: 20px;
}

@media screen and (max-width: 809px) {
    .githubPin {
        display: none;
    }
}