.contactPin {
    transform: rotate(-90deg);
    color: white;
    top: calc(50% + 30px);
    right: 0;
    position: fixed;
    text-align: center;
}

.contactPin__link {
    display: block;
    color: var(--nav-filter-links);
    transition: ease .5s;
    font-size: 18px;
    
}

@media screen and (max-width: 809px) {
    .contactPin {
        display: none;
    }
}