img {
    height: 32px;
}

footer {
    padding: 30px 20px;
    -webkit-box-shadow: inset 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: inset 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 8px 20px 5px rgba(0, 0, 0, 0.4);
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}


.resume {
    margin-top: 5px;
    text-decoration: underline;
}

.social,
.resume {
    margin-left: 16px;
    color: white;
    transition: ease .5s;
} 

.social:focus, 
.social:hover,
.resume:hover,
.resume:focus{
    color: white;
    opacity: .5;
    transition: ease .5s;
  }
  
  .social:active,
  .social:visited,
  .resume:active,
  .resume:visited {
    color: white;
    transition: ease .5s;
  }

