.nav__container {
    background: var(--dark-gray);
    -webkit-box-shadow: 0px 4px 15px #202120;
    box-shadow: 0px 4px 15px #202120;
}

.nav__logo-desktop {
    margin-right: 35px;
    margin-top: 5px;
    height: 40px;
    transition: ease .5s;
}

.nav__logo-desktop:hover,
.nav__logo-desktop:focus{
    opacity: .5;
    transform: scale(.95);
    transition: ease .5s;
}


.nav__contact {
    display: none !important;
}

.nav__logo-mobile {
    height: 32px;
}

/* Many Navbar Overrides Are Located on the "global.css" files To Solve Specificity */

.nav__social {
    font-size: 20px;
}

/* Toggle Button */
.navbar-light .navbar-toggler {
    background: none;
}

.nav__resume {
    margin-top: 10px;
    background-color: var(--section-headlines);
    padding: .5rem 1.2rem;
    border-radius: 50px;
    display: block;
}

.nav__resume:hover,
.nav__resume:focus{
    color: white;
    opacity: .5;
    text-decoration: none;
    transition: ease .5s;

  }

.nav__resume:active,
.nav__resume:visited {
  color: white;
  transition: ease .5s;
}




.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .5s cubic-bezier(0.175, 0.785, 0.12, 1.275);
} 

.menu-btn__burger {
    width: 30px;
    height: 2px;
    background: transparent;
    border-radius: 5px;
    transition: all .5s cubic-bezier(0.175, 0.785, 0.12, 1.275);
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: white;
    border-radius: 5px;
    left: 0;
    transition: all .5s cubic-bezier(0.175, 0.785, 0.12, 1.275);
}

.menu-btn__burger::before {
    transform: translateY(-6px);
}

.menu-btn__burger::after {
    transform: translateY(6px);
}

.menu-btn.open .menu-btn__burger {
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg);
    background: var(--primary-blue);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg);
    background: var(--primary-blue);
}

.nav__show {
    display: block;
    transition: ease-in;
}


@media screen and (min-width: 768px) { 
    .nav__social--display {
        display: none;
    }
}

@media screen and (max-width: 767px) { 
    .nav__resume {
        padding: .75rem 1.2rem;
        margin: 10px 0 20px;
    }

    .nav__dropdown-vh {
        height: 100vh;
    }

    .nav__contact {
        display: block !important;
    }
}
