.nav__logo-desktop {
    margin-right: 52px;
    height: 40px;
}

.nav__logo-mobile {
    height: 32px;
}

/* Many Navbar Overrides Are Located on the "global.css" files To Solve Specificity */

.nav__social {
    font-size: 20px;
}

/* Toggle Button */
.navbar-light .navbar-toggler {
    background: none;
}


@media screen and (min-width: 768px) { 
    .nav__social--display {
        display: none;
    }
  }
