.design-portfolio__section {
    margin-top: 6rem;
  }


.design-project__container {
    margin-top: -40px;
}

.design-project__meta-container {
    padding-top: 80px;
    padding-bottom: 20px; 
    display: flex;
    justify-content: center;
    background: var(--primary-blue);
    position: relative;
    border-radius: 18px;
    z-index: 1;
    color: white;
    margin-bottom: 7rem;
}

.design-project__icon {
    margin-top: 3px;
    font-size: 20px;
    
}

.design-project__text {
    font-size: 20px;
    margin-right: 15px;
}

.design-project__project-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    transition: ease .5s;
    top: 5px;
    z-index: 3000;
  }


  /* 767px — Breakpoint */
@media only screen and (max-width: 767px) {
 
    .design-project__meta-container {
      padding-top: 105px;
      height: 145px;
      top: -40px;
    }
  
    .design-project__container {
      margin-top: -40px;
    }
  }