.dev-project__links {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.dev-project__min-width {
    min-width: 280px;
    min-height: 190px;
}

.dev-project__meta-container {
    padding: 125px 30px 1px;
    max-width: 415px;
}

.dev-project--full-width {
    width: 100%;
}

/* Bootstrap .button Class Override */
.dev-project__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-blue-dark);
    padding: 5px;
    border-radius: 5px;
    color: aliceblue;
    font-weight: 600;
    transition: ease .7s;
}

.dev-project__button--half {
    width: 45%;
}

.dev-project__button--full {
    width: 100%;
}

.dev-project__button:hover {
    color: var(--primary-blue-dark);
    background-color: aliceblue;
    transition: ease .7s;
}


.dev-project__button h5 {
    margin-top: 7px;
    margin-left: 5px;
}

.dev-project__info {
    max-width: 350px;
    margin: 30px 0 15px;
    border-top: 2px solid var(--primary-blue-light);
    padding-top: 30px;
}

.dev-project__tech {
    border: 1px solid var(--primary-blue-light);
    color: var(--primary-blue-lighter);
    border-radius: 30px;
    margin-right: 5px;
    padding: 0 10px;
    display: inline-block;
}

.dev-project__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}


@media only screen and (max-width: 439px) {

    .dev-project__links {
     flex-direction: column;
    }

    .dev-project__button--half {
        margin-bottom: 10px;
        width: 100%;
    }
  
  }