@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Teko:wght@300;700&display=swap');

/* 
font-family: 'Teko', sans-serif;
font-family: 'Lato', sans-serif; 
*/

/*———————————————————————————————————————
 Base 
———————————————————————————————————————*/
body {
    background-image: url("../images/img-links/papyrus.png");
}

h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 500;
    font-size: 4rem;
    color: #0a577e;
}

h2 {
    font-size: 1.7rem;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    color: #0198e4;
    transition: .5s;
}

a:hover {
    color: #0a577e;
}

.btn {
    border-radius: 0;
    padding: .375rem 3rem;
}

.btn-primary {
    background: #0198e4;
    border-color: #0198e4;
}

.btn-primary:hover {
    background: #0a577e;
    border-color: #0a577e;
}



/*———————————————————————————————————————
 Navbar 
———————————————————————————————————————*/
.navbar {
    padding: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
}

header .container {
    padding: 0;
}

/* Logo */
 .navbar-brand {
    background: #0198e4;
    padding: 1.2rem 1rem 1rem 1rem;
    text-align: center;
    transition: .5s;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: .5px;
    color: white;
}

.navbar-brand:hover { 
    background: #0a577e;
    color: white;
    cursor: pointer;
}


/* Links */
.navbar-nav {
    font-family: 'Lato', sans-serif; 
}

.nav-item {
    border-right: 1px solid rgb(226, 226, 226);
    padding: 0 10px;
}

.nav-link {
    padding: 0; 
}

/* could have also used: 
.nav-item:nth-last-of-type(1) {} 
*/

.nav-item--no-style {
    border-right: none;
    padding-right: 0;
}

.active {
    font-weight: bold;
}



/*———————————————————————————————————————
Main Content 
———————————————————————————————————————*/
.main-content {
    background: white;
    margin: 6rem auto;
    padding: 3rem 6rem;
    max-width: 1000px;
}

.main-content__header {
    width: 100%;
}

.section-divider {
    border: 1px solid rgb(218, 218, 218);
    margin-bottom: 2rem;
}

.main-content__profile-img {
    border-radius: 50%;
    box-shadow: 0px 6px 36px -11px rgba(0,0,0,0.41);
}



/*———————————————————————————————————————
Portfolio
———————————————————————————————————————*/
.portfolio {
    display: block;
    box-shadow: 0px 6px 36px -11px rgba(0,0,0,0.60);
}

.portfolio__overlay {
    display: block;
    bottom: 0;
    background: rgba(10, 87, 126, 0.959);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    height: 45px;
    transition: 1s;
}

.portfolio__overlay:hover {
    height: 100%;
    padding-top: 40px;
    color: white;
    text-decoration: none;
}

.portfolio--low-opacity {
    opacity: .5;
}



/*———————————————————————————————————————
Footer
———————————————————————————————————————*/
footer {
    background: #f8f9fa;
    border-top: 1px solid rgb(235, 235, 235);
}

.footer--flex {
    justify-content: space-between;
    padding: 5px 0;
}

.copyright {
    color: rgb(191, 191, 191);
    margin-bottom: 0;
    align-self: center;
}

.footer__social {
    list-style: none;
    margin: 0;
    display: flex;
}

.footer__social-item {
    color: #0198e4;
    font-size: 1.7rem;
    padding-left: 20px;
}



/**************************************
Media Queries
***************************************/

@media screen and (max-width: 767px) {

    .main-content__profile-img {
        max-width: 150px;
        transition: ease .5s;
    }

    .portfolio--sm-hide {
        display: none;
    }
}



/*———————————————————————————————————————
 Navbar 
 ———————————————————————————————————————*/
@media screen and (max-width:576px) {
    .navbar-brand {
        width: 100%;
        margin-right: 0;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding: 10px 0;
    }

    

    /*———————————————————————————————————————
    Main Content 
    ———————————————————————————————————————*/
    .main-content {
        margin-top: 6rem;
        padding: 2rem 1rem;
    }

    .main-content__header {
        text-align: center;
    }

    

    /*———————————————————————————————————————
    Navbar 
    ———————————————————————————————————————*/
    .footer--flex {
        padding: 5px 15px;
    }
  
}