
.contact__form-bg {
    -webkit-box-shadow: 6px 6px 16px #111111, -6px -6px 20px #2d2d30;
    -moz-box-shadow: 6px 6px 16px #111111, -6px -6px 20px #2d2d30;
    box-shadow: 6px 6px 16px #111111, -6px -6px 20px #2d2d30;
    padding: 80px;
    border-radius: 30px;


}

.contact__submit-btn {
    background-color: #00628A;
    max-width: 200px;
    display: inline-block;
    font-weight: 600;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .75rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: ease-in-out .2s;
}

.contact__reset-btn {
    background-color: #6e6e6e;
    max-width: 200px;
    display: inline-block;
    font-weight: 600;
    color: white;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-top: 20px;
}

.contact__submit-btn:hover {
    background-color: #015779;
    color: #0992c8;
    transition: ease-in-out .2s;


}

.contact__email-container {
    margin-top: 80px;
    text-align: center;
    color: white;
}

.contact__email-txt {
    position: relative;
    top: -100px;
    max-width: 400px;
    margin: 0 auto;
}

.contact__email-txt p {
   margin: 0;
}




@media only screen and (max-width: 993px) {
  
    .contact__email-txt {
        top: -70px;
    }
  
}
  
@media only screen and (max-width: 767px) {
    .contact__email-txt {
        top: -30px;
    }

    .contact__submit-btn,
    .contact__reset-btn {
        max-width: 100%;
    }
}

@media only screen and (max-width: 439px) {
    .contact__email-txt {
        top: -30px;
    }
}
